.sidebar_chat {
  padding: 20px;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebar_chat:hover {
  background-color: #ebebeb;
}

a {
  text-decoration: none !important;
  color: #000;
}

.sidebar_chat__info {
  margin-left: 15px;
}

.sidebar_chat__info > h2 {
  margin-bottom: 8px;
  font-size: 16px;
}
